
.service-section,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

.service-section {
  scroll-behavior: smooth;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: "Manrope", "DM Sans", sans-serif;
  color:#0a403d;
}

/* .services-outer {
  padding: 4rem 0 3rem;
  background-color: #e8fbfa;
  border-top-left-radius: 50% 20px;
  border-top-right-radius: 50% 20px;
}
@media all and (min-width: 1000px) {
  .services-outer {
    border-top-left-radius: 50% 50px;
    border-top-right-radius: 50% 50px;
  }
} */

.services-title {
  font-size: 1.75rem;
  line-height: 1.25;
  text-align: center;
}

.services {
  margin-top: 1.5rem;
}

.services-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
@media all and (min-width: 1000px) {
  .services-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.services-item {
  background-color: #fff;
  padding: 1.25rem;
  border: 1px solid #13948d;
  position: relative;
  transition: 0.15s ease;
}
@media all and (min-width: 1000px) {
  .services-item {
    padding: 1.75rem;
  }
}
.services-item:hover, .services-item:focus-within {
  transform: translateY(-0.5rem);
  box-shadow: 0 3px 0 #13948d;
}

.services-item-link {
  font-size: 1.25rem;
  text-decoration: none;
}
.services-item-link:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.services-item-description {
  margin-top: 0.75rem;
}

.services-actions {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.link-btn {
  background-color: #13948d;
  color: var(--palette-5);
  display: inline-flex;
  padding: 0.5em 1em;
  text-decoration: none;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 400;
}
.link-btn:after {
  display: block;
  content: "arrow_forward";
  font-family: "Material Icons Outlined";
  margin-left: 0.5rem;
}
.link-btn:hover, .link-btn:focus {
  background-color:#0a403d;
}

.news-outer {
  padding: 5rem 0;
}

.news-inner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
}
@media all and (min-width: 1000px) {
  .news-inner {
    grid-template-columns: repeat(12, 1fr);
  }
}

.grid-width-7 {
  grid-column: span 1;
}
@media all and (min-width: 1000px) {
  .grid-width-7 {
    grid-column: span 7;
  }
}

.grid-width-5 {
  grid-column: span 1;
}
@media all and (min-width: 1000px) {
  .grid-width-5 {
    grid-column: 8/span 5;
  }
}

.news-section-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
@media all and (min-width: 1000px) {
  .news-section-title {
    font-size: 1.75rem;
  }
}
.news-section-title:before {
  display: block;
  font-family: "Material Icons Outlined";
  margin-right: 0.75rem;
  font-size: 2.5rem;
  font-weight: 400;
  color: #13948d;
}
/* .news-section-title.icon-news:before {
  content: "local_library";
}
.news-section-title.icon-announcement:before {
  content: "flag";
} */

.news {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  padding-left: 1.25rem;
  border-left: 1px solid #13948d;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
@media all and (min-width: 1000px) {
  .news {
    margin-left: 1.25rem;
    padding-left: 2rem;
  }
}

.news-item + * {
  margin-top: 3rem;
}

.news-headline {
  font-size: 1.25rem;
  transition: background-color 0.15s ease;
}
.news-headline:hover, .news-headline:focus {
  background-color: #e8fbfa;
  text-decoration: none;
}

.news-excerpt {
  margin-top: 0.75rem;
}

@media all and (min-width: 1000px) {
  .news-section-actions {
    padding-left: 1.25rem;
  }
}
