{% extends "post/base.html" %}
{% block content %}
{% load static %}

<div class="search-bar">
  <input type="text" id="myInput2" onkeyup="mySearch2()" placeholder="Search for tenders & prequalifications..">
  </div>
  <div id="demo">
    <h1>UGANDA TENDERS & PREQUALIFICATIONS</h1>
    </div>
  
<div id="content-wrap">
  <div id="sidebar">
  
    <h1>Ads</h1>
    <!-- <a href="#"><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3444596717437369" 
      data-ad-slot="9260199698" data-ad-format="auto" data-full-width-responsive="true"></ins></a> -->
      
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3444596717437369"
     crossorigin="anonymous"></script>
    <!-- Biz n Tenders -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-3444596717437369"
        data-ad-slot="9260199698"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
   
    <!-- <h1>BIDDING DOCUMENTS</h1>
    <ul class="sidemenu">
      <li><strong>A tender </strong> is a procurement type of bidding which is specific to the requirements or specifications offered by the end use/ client. Tenders are run for a specific project and evaluated within a short period of time. There are requirements that are needed in preparing a tender </p>
      <li><strong>Prequalifications or Expression of Interest</strong> are majorly prepare more than tenders. This is because a company needs to provide the required valid documentation to be approved by the procurement committtee before a company is involved into business with the company. There are requirements that are needed in preparing a tender </p>
      <li><strong>Request for Quotations</strong> are majorly prepare more than tenders. This is because a company needs to provide the required valid documentation to be approved by the procurement committtee before a company is involved into business with the company. There are requirements that are needed in preparing a tender </p>
    </ul> -->

    <h1>Ads</h1>
    <!-- <a href="#"><img src="{%static 'world-map.jpg'%}" width="95%" height="40%" alt="firefox" /></a> -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3444596717437369"
    crossorigin="anonymous"></script>
   <!-- Biz n Tenders -->
   <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-3444596717437369"
       data-ad-slot="9260199698"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
   <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
   </script>

    <h1>VIRTUAL ASSISTANTS</h1>
    <ul class="sidemenu">
      <li><a href="#"><strong>RENDERING</strong></a> <br />
        We do prepare bidding documents for you and reviewed by you.</li>
      <li><a href="#"><strong>OUTSOURCING</strong></a> <br />
        Do you have a requirement that you cant find, we do help get your work do</li>
      <li><a href="#"><strong>ADVERTISEMENTS</strong></a> <br />
        We do run publish your advertises to the site for more audience views</li>
    </ul>

    <h1>Ads</h1>
    <a href="#"><img src="{%static 'world-map.jpg'%}" width="95%" height="40%" alt="firefox" /></a>
    
    
    
  </div>

<div id="main"> <a name="TemplateInfo"></a>

  <section class="body-cont">
    <div class="main-table">
    <div class="table-responsive-vertical shadow-z-1">
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
          <tr>
            <th>Advert Date</th>
            <th>Procurement Subject</th>
            <th>Category</th>
            <!-- <th>Description</th> -->
            <th>Submission date</th>
          </tr>
        </thead>
        <tbody>
          {% for post in posts %}
              <tr>
                <td><b>{{ post.date_posted|date:"F d, Y" }}</b></td>
                <td><b id='item'><a href="{% url 'post-detail' post.id %}"><b>{{ post.item }}</b></a></td>
                <td><b>{{ post.category }}</b></td>
                <!-- <td><b>{{ post.description }}</b></td> -->
                <td><b>{{ post.duedate }}</b></td>
                <td><a href="{% url 'post-detail' post.id %}"><button style="background-color: #EAC117;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;cursor: pointer;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);position: relative;bottom: 0px;"><b>Details</b></button></a></td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% if is_paginated %}
  <div class="pagination">
      {% if page_obj.has_previous %}
        <a class="next-page" href="?page=1"><<</a>
        <a class="netx-page" href="?page={{ page_obj.previous_page_number }}"><</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn-next" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="next-page" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="next-page" href="?page={{ page_obj.next_page_number }}">></a>
        <a class="next-page" href="?page={{ page_obj.paginator.num_pages }}">>></a>
      {% endif %}
    </div>

    {% endif %}

    <!-- ads -->

  </div>
</section>
{% endblock content %}

      <div>
        Item: <b>{{ post.item }}</b>
        <br>
        <p class="article-title">Category:<b> {{ post.item }}</b></p>
        <div style="height: 40px; overflow: hidden;">
          <p class="article-content">Description:  {{ post.description }}</p>
        </div>
     
</div>
  
     
      
             