{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
	<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/CSSRulePlugin3.min.js"></script>
	<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3444596717437369" crossorigin="anonymous"></script>
	<script>(adsbygoogle = window.adsbygoogle || []).push({});   </script> -->
	<script src="{%static 'script.js'%}"></script>

    {% if title %}
		<title>businessandtenders - {{ title }}</title>
	{% else %}
		<title>businessandtenders</title>
	{% endif %}
</head>
<body>
<div id="wrap">
  <div id="header">
    <h1 id="logo-text">Biz n' Tenders</h1>
    <h2 id="slogan">Have your tried bidding for business</h2>
    <div id="header-links">
      <p> <a href="{%url 'home'%}">Home</a> | <a href="#">Contact</a> | <a href="{% url 'post-about' %}">Blog</a> </p>
    </div>
  </div>

  <div  id="menu">
    <ul>
      <li id="current"><a href="{% url 'post-home' %}">Tenders</a></li>
      <li><a href="{% url 'advert-home' %}">Careers/Jobs</a></li>

      {% if user.is_authenticated %}
      <!-- <li><a href="{% url 'user-dashboardads' user.username %}"><span class="glyphicon glyphicon-user"></span>	My Ads</a></li>
      <li><a href="{% url 'user-dashboard' user.username %}"><span class="glyphicon glyphicon-user"></span>	Dashboard</a></li>
      <li><a href="{% url 'advert-create' %}"><span class="glyphicon glyphicon-user"></span>	Have a business?</a></li>
      <li><a href="{% url 'post-create' %}"><span class="glyphicon glyphicon-user"></span>	Post New Tender</a></li> -->
      <li><a href="{% url 'user-profile' %}"><span class="glyphicon glyphicon-user"></span>	Profile</a></li>
      <li><a href="{% url 'user-logout' %}"><span class="glyphicon glyphicon-user"></span>	Logout</a></li>
      {% else %}
      <li class="item button"><a href="{% url 'user-login' %}">Log In</a></li>
      <li class="item button secondary"><a href="{% url 'user-register' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </div>

  <div class="container" style="min-height: 100%">
   
    {% if messages%}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div> 
    {% endfor%}
    {% endif %}
</div>

  <!-- slider -->
<div class="main-slider">
  <div class="container"> 
            <div class="slider" >
                <div class="box1 box" style="background-image: url('{% static 'tender.jpg'%}');background-attachment:fixed; background-size: cover; ">
                    <div class="bg"></div>
                    <div class="details">
                        <h1>TENDERS</h1>
                        <p>
                            Find tenders, prequalifications, expressions of interest and other supplier souring informations 
                        </p>
                        <button><a href="{% url 'post-home' %}" class="slider-btn">Check Now</a></button>
                    </div>

                    <!-- <div class="illustration">
						<div class="inner" ></div>
					</div> -->
                </div>
                                
                
                <div class="box2 box"  style="background-image: url('{% static 'job3.jpg'%}');background-attachment:fixed; background-size: cover; ">
                    <div class="bg"></div>
                    <div class="details">
                        <h1>JOBS/CAREER</h1>
                        <p>
                            Browse through our jobs hub for all the latest jobs, career opportunities and Vacancies . Move up today for a perfect employment on Uganda's Number
                        </p>
                        <button><a href="{% url 'advert-home' %}" class="slider-btn">Check Now</a></button>
                    </div>

                    <!-- <div class="illustration"><div class="inner"></div></div> -->
                </div>
                                
                <div class="box3 box"  style="background-image: url('{% static 'job2.jpg'%}');background-attachment:fixed; background-size: cover; ">
                    <div class="bg"></div>
                    <div class="details">
                        <h1>Business world</h1>
                        <p>
                            Find a business that suits your choice or market your business to reach the buyer world
                        </p>
                        <button><a href="#" class="slider-btn">Check Now</a></button>
                    </div>

                    <!-- <div class="illustration"><div class="inner"></div></div> -->
                </div>
                                
                <div class="box4 box">
                    <div class="bg"></div>
                    <div class="details">
                        <h1>SUBSRIBE TO ALERTS</h1>
                        <p>
                            Subscribe to our daily alerts and receive 
                        </p>
                        <button class="slider-btn">Check Now</button>
                    </div>

                    <!-- <div class="illustration"><div class="inner"></div></div> -->
                </div>
                                
                <div class="box5 box">
                    <div class="bg"></div>
                    <div class="details">
                        <h1>I'm the fifth Box</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing 
                            elit. Integer lacinia dui lectus. Donec scelerisque ipsum
                            diam, ac mattis orci pellentesque eget. 
                        </p>
                        <button class="slider-btn">Check Now</button>
                    </div>

                    <!-- <div class="illustration"><div class="inner"></div></div> -->
                </div>             
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" class="prev" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(0 91) rotate(-90)" fill="#fff"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="next" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(56.898) rotate(90)" fill="#fff"/></svg>
            <div class="trail">
                    <div class="box1 active">1</div>
                    <div class="box2">2</div>
                    <div class="box3">3</div>
                    <div class="box4">4</div>
                    <div class="box5">5</div>
            </div>
        </div>   
	</div>
	</div>
	
<!-- slider end -->

<div class="container">
	<div class="sec-title">
		<h2 class="center">About Business & Tenders</h2>
		<p>We are an online supplier sourcing platform that provides businesses with procurement processes by identifying bidding activities like Tender adverts, prequalification adverts, Ecpressions of Interest and Request for Proposals <br> We not only provide business with supplier information but also provide career, jobs and opportunities for every one</p>
	</div>

	<div class="servs-container">
	<div class="servs">
		<h1>What we offer virtually  <a href="#">for you</a></h1>
				<div class="cen">
					<div class="serv">
						<i class="fas fa-anchor"></i>
						<h2>Bidding Process</h2>
						<p>Bidding process revolves around the sourcing for bid adverts for instance tender, perqualification, Expression of Interest and RFQ adverts that mainly appear in newspapers or online bid sourcing platform. 
							<br>A tender is a procurement type of bidding which is specific to the requirements or specifications offered by the end use/ client. Tenders are run for a specific project and evaluated within a short period of time.
						<br> Prequalification or expressions of interest are conducted in order to run cheks or verifications of the company such as the company exist, years in operation,experience and validity of operation documnents</p>
					</div>
	
					<div class="serv">
						<i class="fas fa-atlas"></i>
						<h2>Jobs/careers & opportunities</h2>
						<p>In the day to day world, apply for a job under your area of expertise and passion leads you to your dream job which is for a short term period. With this we help provide you with a platform that advertises jobs that have been verified and proven by the sourcing compaies
							<br> Careers on the other hand is a long term job that a person would settle for mainly because of the passion and matching expertise. We also provide all career adverts.
							<br> Opportunities are often available to everyoe provided you are qualify for the post. 
						</p>
					</div>
	
					<div class="serv">
						<i class="fas fa-broadcast-tower"></i>
						<h2>Business World</h2>
						<p>Everything evolves around the business world where companies source for suppliers through tendering and where individuals or other companies source for their business in the business world. With this we provide all business with a platform to provide an overview of what the company deals in, what services or products they provide. 
							<br> This gives an online presence to the data users.
						</p>
					</div>
	
				</div>

			</div>

<section class="service-section" style="background-image: url('{% static 'business-w1.jpg'%}');background-attachment:fixed; background-size: cover; ">
<!-- <div class="services-outer">
	<div class="responsive-wrapper">
		<h2 class="services-title">What can we help you with?</h2>
	</div>
	<nav class="services responsive-wrapper">
		<ul class="services-list">
			<li class="services-item">
				<a href="#" class="services-item-link">Schools and day care</a>
				<p class="services-item-description">We plan to assist businesses and organizations by providing a portal to post tenders and requirements. These requirements are tracked by dealers/businesses all over the world which in turn provide a quotation to take up the task. It helps to outsource services such as a requirement of “personnel’s to guard the premises”, “a cleaning staff” etc. and product requirements such as “computers and laptops”, “construction materials” etc.</p>
			</li>
			<li class="services-item">
				<a href="#" class="services-item-link">Health and social care</a>
				<p class="services-item-description">Emergency services, medical centre, nursing homes and nursing home places, respite care services, security alarm</p>
			</li>
			<li class="services-item">
				<a href="#" class="services-item-link">Activities and culture</a>
				<p class="services-item-description">Swimming pools, sports, library, youth centre, parks and greenspaces, events and tourism</p>
			</li>
			<li class="services-item">
				<a href="#" class="services-item-link">Planning and building control</a>
				<p class="services-item-description">Check if you need planning permission, apply for planning permission, property information, pricing</p>
			</li>
			<li class="services-item">
				<a href="#" class="services-item-link">Bins and recycling</a>
				<p class="services-item-description">Bin collection dates, missed bin collection, request a bin, street cleaning and litter problems, compost bins</p>
			</li>
			<li class="services-item">
				<a href="#" class="services-item-link">Parking, roads and harbor</a>
				<p class="services-item-description">Public parking spaces, report a street fault, find out about roadworks, information for developers</p>
			</li>
		</ul>
	</nav>
	<div class="services-actions">
		<a href="#" class="link-btn">View all services</a>
	</div>
</div> -->
<div class="news-outer">
	<div class="news-inner responsive-wrapper">
		<div class="news-section grid-width-7">
			<div class="news-section-header">
				<h2 class="news-section-title icon-news">Latest Bids</h2>
			</div>
		
			<ul class="news">
				{% if posts%}
				{% for post in posts %}
					<li class="news-item">
						<article class="news-item">
							<a href="#" class="news-headline" >{{ post.category }}</a>
							<p class="news-excerpt"><a href="{% url 'post-detail' post.id %}" class="news-headline" >{{ post.item }}</a></p>
						</article>
					</li>
				{% endfor %}
				{% endif %}
				
			</ul>
			
			<div class="news-section-actions">
				<a href="{% url 'post-home' %}" class="link-btn">VIEW MORE BIDS</a>
			</div>
			
		</div>

	
		<div class="news-section grid-width-5">
			<div class="news-section-header">
				<h2 class="news-section-title icon-announcement">Latest Jobs</h2>
			</div>
			
			<ul class="news">
				{% if adverts%}
				{% for advert in adverts %}
					<li class="news-item">
						<article class="news-item">
							<a href="">{{ advert.address }}</a>
							<p class="news-excerpt"><a href="{% url 'advert-detail' advert.id %}" class="news-headline" >{{ advert.name }}</a></p>
						</article>
					</li>
				{% endfor %}
				{% endif %}
			</ul>
			
			<div class="news-section-actions">
				<a href="{% url 'advert-home' %}" class="link-btn">VIEW MORE</a>
			</div>
			
		</div>
	</div>
</div>
</section>



  <div id="content-wrap">
	<div id="sidebar">
		  <h1>Ads</h1>		
	  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3444596717437369"
	   crossorigin="anonymous"></script>
	  <ins class="adsbygoogle"
		  style="display:block; width: 20%;"
		  data-ad-client="ca-pub-3444596717437369"
		  data-ad-slot="9260199698"
		  data-ad-format="auto"
		  data-full-width-responsive="true"></ins>
	  <script>
		 (adsbygoogle = window.adsbygoogle || []).push({});
	  </script>
  
	  <h1>Ads</h1>
	  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3444596717437369"
	  crossorigin="anonymous"></script>
	 <ins class="adsbygoogle"
		 style="display:block; width: 20%;"
		 data-ad-client="ca-pub-3444596717437369"
		 data-ad-slot="9260199698"
		 data-ad-format="auto"
		 data-full-width-responsive="true"></ins>
	 <script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	 </script>
  
  </div>

  

  <div id="main"> <a name="TemplateInfo"></a>
	       
	  <h3>ENQUIRY FORM</h3>
	  <form action="#">
		<p>
		  <label>Name</label>
		  <input name="dname" value="Your Name" type="text" size="30" />
		  <label>Email</label>
		  <input name="demail" value="Your Email" type="text" size="30" />
		  <label>Your Comments</label>
		  <textarea rows="5" cols="5"></textarea>
		  <br />
		  <input class="button" type="submit" />
		</p>
	  </form>
	  <br />
  
	</div>
  </div> 
  </div>
  </div>
  {% endblock%}

  <!-- FOOTER -->

	  <div id="footer">
		<p> &copy; 2022 <strong>B n' T</strong> | Design by: <a href="#">biz n' tenders</a> | <a href="#">CSS</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">Home</a>&nbsp;|&nbsp; <a href="#">Sitemap</a>&nbsp;|&nbsp; <a href="#">Feed</a> </p>
	  </div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script>
		function myMap() {
			var mapProp= {
				center:new google.maps.LatLng(15.4589,75.0078),
				zoom:10,
			};
			var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
			}
	
			function mySearch() {
				var input, filter, a, name, i;
				input = document.getElementById('myInput');
				filter = input.value.toUpperCase();
				name = 	document.getElementsByTagName('table');
				for(i=0;i<name.length;i++){
					a = name[i].getElementsByTagName("b")[0];
					if(a.innerHTML.toUpperCase().indexOf(filter) > -1) {
							name[i].style.display = "";
					} 
					else{
							name[i].style.display = "none";
					}
				}
			 }
	
			 function mySearch2() {
				var input, filter, a, name, i;
				input = document.getElementById('myInput2');
				filter = input.value.toUpperCase();
				name = 	document.getElementsByTagName('table');
				for(i=0;i<name.length;i++){
					a = name[i].getElementsByTagName("b")[0];
					if(a.innerHTML.toUpperCase().indexOf(filter) > -1){
							name[i].style.display = "";
					} 
					else{
							name[i].style.display = "none";
					}
				}
			 }
	
			 // var $divs = $("div.post");
	
			$('#quantity').on('click', function () {
				var numericallyOrderedDivs = $("div.post").sort(function (a, b) {
					return $(a).find("h5").text() > $(b).find("h5").text();
				});
				$("#posts").html(numericallyOrderedDivs);
			});
			 // function (){
			 // 	var a, name, i;
				// name = 	document.getElementsByTagName('article');
				// for(i=0;i<name.length;i++){
				// 	alert()
				// }
			 // }
			 
			const slider = document.querySelector(".slider")
			const trail = document.querySelector(".trail").querySelectorAll("div")

			let value = 0
			let trailValue = 0
			let interval = 4000

			const slide = (condition) => {
				clearInterval(start)
				condition === "increase" ? initiateINC() : initiateDEC()
				move(value, trailValue)
				animate()
				start = setInterval(() => slide("increase"), interval);
			}

			const initiateINC = () => {
				trail.forEach(cur => cur.classList.remove("active"))
				value === 80 ? value = 0 : value += 20
				trailUpdate()
			}

			const initiateDEC = () => {
				trail.forEach(cur => cur.classList.remove("active"))
				value === 0 ? value = 80 : value -= 20
				trailUpdate()
			}

			const move = (S, T) => {
				slider.style.transform = `translateX(-${S}%)`
				trail[T].classList.add("active")
			}

			const tl = gsap.timeline({defaults: {duration: 0.6, ease: "power2.inOut"}})
			tl.from(".bg", {x: "-100%", opacity: 0})
			  .from("p", {opacity: 0}, "-=0.3")
			  .from("h1", {opacity: 0, y: "30px"}, "-=0.3")
			  .from("button", {opacity: 0, y: "-40px"}, "-=0.8")

			const animate = () => tl.restart()

			const trailUpdate = () => {
				if (value === 0) {
					trailValue = 0
				} else if (value === 20) {
					trailValue = 1
				} else if (value === 40) {
					trailValue = 2
				} else if (value === 60) {
					trailValue = 3
				} else {
					trailValue = 4
				}
			}   

			let start = setInterval(() => slide("increase"), interval)
			document.querySelectorAll("svg").forEach(cur => {
				cur.addEventListener("click", () => cur.classList.contains("next") ? slide("increase") : slide("decrease"))
			})

			const clickCheck = (e) => {
				clearInterval(start)
				trail.forEach(cur => cur.classList.remove("active"))
				const check = e.target
				check.classList.add("active")

				// Update slide value based on the selected trail
				if(check.classList.contains("box1")) {
					value = 0
				} else if (check.classList.contains("box2")) {
					value = 20
				} else if (check.classList.contains("box3")) {
					value = 40
				} else if (check.classList.contains("box4")) {
					value = 60
				} else {
					value = 80
				}
				// update trail based on value
				trailUpdate()
				// transfrom slide
				move(value, trailValue)
				// start animation
				animate()
				// start interval
				start = setInterval(() => slide("increase"), interval)
			}

			// Add function to all trails
			trail.forEach(cur => cur.addEventListener("click", (ev) => clickCheck(ev)))

			// Mobile touch Slide Section
			const touchSlide = (() => {
				let start, move, change, sliderWidth

				// Do this on initial touch on screen
				slider.addEventListener("touchstart", (e) => {
					// get the touche position of X on the screen
					start = e.touches[0].clientX
					// (each slide with) the width of the slider container divided by the number of slides
					sliderWidth = slider.clientWidth/trail.length
				})
				
				// Do this on touchDrag on screen
				slider.addEventListener("touchmove", (e) => {
					// prevent default function
					e.preventDefault()
					// get the touche position of X on the screen when dragging stops
					move = e.touches[0].clientX
					// Subtract initial position from end position and save to change variabla
					change = start - move
				})

				const mobile = (e) => {
					// if change is greater than a quarter of sliderWidth, next else Do NOTHING
					change > (sliderWidth/4)  ? slide("increase") : null;
					// if change * -1 is greater than a quarter of sliderWidth, prev else Do NOTHING
					(change * -1) > (sliderWidth/4) ? slide("decrease") : null;
					// reset all variable to 0
					[start, move, change, sliderWidth] = [0,0,0,0]
				}
				// call mobile on touch end
				slider.addEventListener("touchend", mobile)
			})()
			
			
					


			 
		</script>
	
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmnAF87Yc4RIMYhvAkRvD14yRycaDNmP8&callback=myMap"></script>
	</body>
	</html>
	