{% extends "post/base.html" %}
{% block content %}
{% load static %}

<div id="content-wrap">
  <div id="sidebar">
  
    <h1>Ads</h1>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3444596717437369"
	   crossorigin="anonymous"></script>
	  <ins class="adsbygoogle"
		  style="display:block; width: 20%;"
		  data-ad-client="ca-pub-3444596717437369"
		  data-ad-slot="9260199698"
		  data-ad-format="auto"
		  data-full-width-responsive="true"></ins>
	  <script>
		 (adsbygoogle = window.adsbygoogle || []).push({});
	  </script>
    <h1>Ads</h1>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3444596717437369"
	   crossorigin="anonymous"></script>
	  <ins class="adsbygoogle"
		  style="display:block; width: 20%;"
		  data-ad-client="ca-pub-3444596717437369"
		  data-ad-slot="9260199698"
		  data-ad-format="auto"
		  data-full-width-responsive="true"></ins>
	  <script>
		 (adsbygoogle = window.adsbygoogle || []).push({});
	  </script>

    <h1>Ads</h1>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3444596717437369"
	   crossorigin="anonymous"></script>
	  <ins class="adsbygoogle"
		  style="display:block; width: 20%;"
		  data-ad-client="ca-pub-3444596717437369"
		  data-ad-slot="9260199698"
		  data-ad-format="auto"
		  data-full-width-responsive="true"></ins>
	  <script>
		 (adsbygoogle = window.adsbygoogle || []).push({});
	  </script>
      
  </div>

<div id="main"> <a name="TemplateInfo"></a>
  <section class="advert-page">
<div >
    <br>
	  <img src="{{ advert.image.url }}" style="height: 100px;width: 100px;padding: 0px 10px 10px 0px" align="left">
      <!-- <h3 style="display: inline;"><span style="float: right" class="label label-success">4.1</span>
		  {% if advert.author == user  %}
		      <div>
		      	<a class="btn btn-secondary btn-sm mb-1 mt-1" href="{% url 'advert-update' advert.id %}">Update</a>
		      	<a class="btn btn-danger btn-sm mb-1 mt-1" href="{% url 'advert-delete' advert.id %}">Delete</a>
		      </div>
	      {% endif %}
      </h3> -->

      <div>
        <b style="color: black;font-size: 20px">{{ advert.name }}</b>
        <br>
        {{ advert.address }}
        <hr>
      </div>

      <table>
        <tr>
          <td>
            Working Hours:
          </td>  
          <td class="second-dat">
            {{ advert.hours }}
          </td>
        </tr>
        <tr>
          <tr>
          <td>
            Email:
          </td>  
          <td class="second-dat">
            {{ advert.email }}
          </td>
        </tr>
        <tr>
          <td>
            Featured In:
          </td>  
          <td class="second-dat">
              {% for product in advert.products.all %}
                {{ product }}
              {% endfor %}
          </td>
        </tr>
       </table>
<div class="advert-details">
  <b>Bio:</b>{{ advert.details }}</p>
</div>
	<!-- <article class="media content-section">
	  <img class=" img-rounded article-imag" style="width: 40px; height: 40px" src="{{ advert.author.userprofile.image.url }}">
	  <div class="media-body">
	    <div class="article-metadata">
	      <a class="mr-2" href="#">{{ advert.author }}</a>
	      <small class="text-muted">{{ advert.date_adverted|date:"F d, Y" }}</small>
	      {% if advert.author == user  %}
		      <div>
		      	<a class="btn btn-secondary btn-sm mb-1 mt-1" href="{% url 'advert-update' advert.id %}">Update</a>
		      	<a class="btn btn-danger btn-sm mb-1 mt-1" href="{% url 'advert-delete' advert.id %}">Delete</a>
		      </div>
	      {% endif %}
	    </div>
	    <h2 class="article-title">{{ advert.details }}</h2>
	    <h2><a class="article-title" href="#">{{ advert.address }}</a></h2>
	    <p class="article-content">{{ advert.author }}</p>
	  </div>
	</article>  -->
</div>
{% endblock content %}
</section>
</div>



