{% extends "post/base.html" %}
{% block content %}
{% load static %}
<div class="search-bar">
  <input type="text" id="myInput" onkeyup="mySearch()" placeholder="Search for adverts..">
  </div>

  <div id="demo">
    <h1>JOBS, CAREER AND OPPORTUNITES</h1>
    <h2>Find a job that suits your desire and experience </h2>
    </div>
  
<div id="content-wrap">
  <div id="sidebar">
  
    <h1>Ads</h1>
    <a href="#"><img src="{%static 'world-map.jpg'%}" width="95%" height="40%" alt="firefox" /></a>

    <h1>CAREER PLACEMENTS</h1>
    <ul class="sidemenu">
      <li><strong>Career </strong> services that can lead you to your job desire </p>
      
    </ul>

    <h1>Ads</h1>
    
      <div class="motion-items" >
        <marquee style="display:inline-bock;">
        <li>tenders</li>
        <li>prequalifications</li>    
    </marquee>
  </div>
    

    <h1>OPPORTUNITES</h1>
    <ul class="sidemenu">
      <li><a href="#"><strong>JOB ADVERTS</strong></a> <br />
        We provide you with genuine job adverts that help you get informed</li>
      <li><a href="#"><strong>O</strong></a> <br />
        Do you have a requirement that you cant find, we do help get your work do</li>
      <li><a href="#"><strong>ADVERTISEMENTS</strong></a> <br />
        We do run publish your advertises to the site for more audience views</li>
    </ul>

    <!-- <h1>Ads</h1>
    <a href="#"><img src="{%static 'world-map.jpg'%}" width="95%" height="40%" alt="firefox" /></a>   -->
  </div>

  <div id="main"> <a name="TemplateInfo"></a>
    <section class="body-cont">
      <div class="main-table">
      
      <div class="table-responsive-vertical shadow-z-1">
      <table id="table" class="table table-hover table-mc-light-blue">
          <thead>
            <tr>
              <th>Organization</th>
            <th>Job Title</th>
            <th>Duty Staion</th>
            <th>Submission Mode</th>
            <!-- <th>Deadline Date</th> -->
            <th>Deadline Date</th>
            <th>View details</th>
            </tr>
          </thead>
          <tbody>
            {% for advert in adverts %}
                <tr>
                  <td><img src="{{ advert.image.url }}" style="height: 100px;width: 100px;padding: 0px 10px 10px 0px;float: left;" ></td>
                  <td><a href="{% url 'advert-detail' advert.id %}"><b>{{ advert.name }}</b></a></td>
                  <td>{{ advert.address}}</td>
                  <td>
                    {% for product in advert.products.all %}
                        {{ product }}
                      {% endfor %}
                  </td>
                  <!-- <td>{{ post.date_posted|date:"F d, Y" }}</td> -->
                  <td>{{advert.hours}}</td>
                  <td><a href="{% url 'advert-detail' advert.id %}"><button style="background-color: #EAC117;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;cursor: pointer;float: right;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);position: relative;bottom: 0px;"><b>Details</b></button></a></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
          <a class="next-page" href="?page=1"><<</a>
          <a class="netx-page" href="?page={{ page_obj.previous_page_number }}"><</a>
        {% endif %}
  
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class="btn-next" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="next-page" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}
  
        {% if page_obj.has_next %}
          <a class="next-page" href="?page={{ page_obj.next_page_number }}">></a>
          <a class="next-page" href="?page={{ page_obj.paginator.num_pages }}">>></a>
        {% endif %}
      </div>
  
      {% endif %}
  
      <!-- ads -->
    </div>
  </section>
  {% endblock content %}
  
    


